<div>
  <mat-form-field class="searchform" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search somthing like Pikachu">
    </mat-form-field>
</div>

<div>
  <mat-table class="tblPoke mat-elevation-z8" bordered="true" max mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let pokemon"> {{pokemon.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell class="test" *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell class="test" *matCellDef="let pokemon">
        <button mat-button (click)="showDetails(pokemon)" class="mat-elevation-z2">Show Details</button>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250, 1000]" [pageSize]=15></mat-paginator>
</div>